<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Great Energy Predictor</title>
  <meta name="title" content="GEP">
  <meta name="description" content="This is a agency that predicts energy consumption">

  <!-- 
    - favicon
  -->
  <link rel="icon" href="../static/img/favicon.ico" type="image/png" sizes="32x32">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="../static/css/styles.css">

  <!-- 
    - preload images
  -->
  <!-- <link rel="preload" as="image" href="../static/img/hero-bg.jpg">
  <link rel="preload" as="image" href="../static/img/hero-slide-1.jpg">
  <link rel="preload" as="image" href="../static/img/hero-slide-2.jpg">
  <link rel="preload" as="image" href="../static/img/hero-slide-3.jpg"> -->

</head>

<body>

  <!--
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="/" class="logo">
        <img src="../static/img/img-logo.png" width="150" height="100" alt="GEP home" class="logo-light">
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">
          <a href="#" class="logo">
            <img src="../static/img/img-logo.png" width="74" height="24" alt="GEP home">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">

          <li>
            <a href="/" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#" class="navbar-link">About</a>
          </li>

          <li>
            <a href="/predictor" class="navbar-link">Predictor</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Organisers</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Contact Us</a>
          </li>

        </ul>
      </nav>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero has-bg-image" aria-label="home"
        style="background-image: url('../static/img/img-back-home.jpg')">
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 hero-title">Your Personalized Energy Prediction Helper.</h1>

            <p class="hero-text">
                Welcome to our website. We are committed to helping you and protecting the environment.
            </p>
          </div>


        </div>
      </section>



      <!-- 
        - #ABOUT
      -->

      <section class="about" aria-labelledby="about-label" style="padding-top: 120px;">
        <div class="container">

          <figure class="about-banner">
            <img src="../static/img/img-about.jpg" width="400" height="280" loading="lazy" alt="about banner"
              class="w-100" style="width: 550px;">
          </figure>

          <div class="about-content">

            <p class="section-subtitle" id="about-label">Why Choose Us?</p>

            <h2 class="h2 section-title">
              For unmatched precision in energy prediction.
            </h2>

            <ul>

              <li class="about-item">
                <div class="accordion-card expanded" data-accordion>

                  <h3 class="card-title">
                    <button class="accordion-btn" data-accordion-btn>
                      <ion-icon name="chevron-down-outline" aria-hidden="true" class="down"></ion-icon>

                      <span class="span h5">Expertise in Energy Consumption Prediction</span>
                    </button>
                  </h3>

                  <p class="accordion-content">
                    Our expert team uses advanced algorithms and data analytics to accurately forecast building energy usage, enabling informed decisions for efficient resource management.
                  </p>

                </div>
              </li>

              <li class="about-item">
                <div class="accordion-card" data-accordion>

                  <h3 class="card-title">
                    <button class="accordion-btn" data-accordion-btn>
                      <ion-icon name="chevron-down-outline" aria-hidden="true" class="down"></ion-icon>

                      <span class="span h5">Tailored Solutions for Your Needs</span>
                    </button>
                  </h3>

                  <p class="accordion-content">
                    We provide customized energy solutions tailored to your unique building needs. Our adaptable predictive models ensure optimal performance and cost savings for different facilities.
                  </p>

                </div>
              </li>

              <li class="about-item">
                <div class="accordion-card" data-accordion>

                  <h3 class="card-title">
                    <button class="accordion-btn" data-accordion-btn>
                      <ion-icon name="chevron-down-outline" aria-hidden="true" class="down"></ion-icon>

                      <span class="span h5">Proven Track Record of Success</span>
                    </button>
                  </h3>

                  <p class="accordion-content">
                    Partner with us for proven success in energy management. Unlock your building's potential with our trusted solutions.
                  </p>

                </div>
              </li>

            </ul>

          </div>

        </div>
      </section>





      <!-- 
        - #FEATURE
      -->

      <section class="section feature" aria-labelledby="feature-label">
        <div class="container">

          <figure class="feature-banner">
            <img src="../static/img/img-sol.jpg" width="800" height="531" loading="lazy" alt="feature banner"
              class="w-100">
          </figure>

          <div class="feature-content">

            <p class="section-subtitle" id="feautre-label">Our Solutions</p>

            <h2 class="h2 section-title">
              Energy Optimization
            </h2>

            <p class="section-text">
              Tailored strategies for maximizing energy efficiency in buildings.
            </p>

            <ul class="feature-list">

              <li>
                <div class="feature-card">

                  <div class="card-icon">
                    <ion-icon name="checkmark" aria-hidden="true"></ion-icon>
                  </div>

                  <span class="span">
                    Customized Solutions
                  </span>

                </div>
              </li>

              <li>
                <div class="feature-card">

                  <div class="card-icon">
                    <ion-icon name="checkmark" aria-hidden="true"></ion-icon>
                  </div>

                  <span class="span">
                    Data-driven Insights
                  </span>

                </div>
              </li>

              <li>
                <div class="feature-card">

                  <div class="card-icon">
                    <ion-icon name="checkmark" aria-hidden="true"></ion-icon>
                  </div>

                  <span class="span">
                    Performance Enhancement
                  </span>

                </div>
              </li>

              <li>
                <div class="feature-card">

                  <div class="card-icon">
                    <ion-icon name="checkmark" aria-hidden="true"></ion-icon>
                  </div>

                  <span class="span">
                    Sustainability Integration
                  </span>

                </div>
              </li>

            </ul>

          </div>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container grid-list">

      <div class="footer-brand">

        <a href="#" class="logo">
          <img src="../static/img/img-logo.png" width="170" height="150" alt="GEP home">
        </a>

        <p class="footer-text">
          &copy; 2024 GEP. <br> All rights reserved.
        </p>

      </div>

      <ul class="footer-list">

        <li>
          <p class="h4 footer-list-title">Get in Touch</p>
        </li>

        <li>
          <address class="footer-text">
            Mount Poinsur, Borivali West, Mumbai, Maharashtra 400103
          </address>
        </li>

        <li>
          <a href="mailto:info@email.com" class="footer-link">gep2024@email.com</a>
        </li>

        <li>
          <a href="tel:001234567890" class="footer-link">+91 123 456 7890</a>
        </li>

      </ul>

    </div>
  </footer>





  <!-- 
    - custom js link
  -->
  <script src="../static/js/script.js"></script>

  <!-- 
    - ionicon
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>